---
import { Image } from "astro:assets";

const { work } = Astro.props;
const { title, description, date, cover, tech } = work.data;
---

<a
    href={`/work/${work.slug}/`}
    class="group">
    <div class="card w-full p-4">
        <figure class="aspect-video rounded overflow-hidden">
            <Image
                class="object-cover opacity-100 group-hover:opacity-80 transition-all duration-300"
                src={cover}
                alt={title}
            />
        </figure>
        <div class="card-body p-0 pt-3">
            <h2 class="card-title font-bold">
                {title}
                &mdash; {
                    date.toLocaleDateString("en-US", {
                        year: "numeric",
                    })
                }
            </h2>
            <p class="line-clamp-2">{description}</p>
            <div class="card-actions flex flex-wrap">
                {
                    tech &&
                        tech.map((t: string) => (
                            <span class="border-2 rounded-full px-2 py-1 text-xs">
                                {t}
                            </span>
                        ))
                }
            </div>
        </div>
    </div>
</a>
